{% extends 'index.html' %}
{% set active_page='cancel' %}
{% block body %}
<div class="container">
	<div class="msg">
	<div class="jumbotron">
		<div class="container">
			<h2>Coming soon...Come back for update!!!</h2>
		</div>
	</div>
	</div>
</div>
<div class="container">
        <ul class="list-group">
            <li class="list-group-item">From Date => To Date => Reason</li>
        {% for d in list %}
			<li class="list-group-item">{{ d.sdate }} => {{ d.edate }} => {{ d.reason }}
			<a href="/cancel/{{d.sdate}}={{d.edate}}={{d.usr_id}}" class="icon">
				<span style='float:right' class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
			</li>
		{% endfor %}
        </ul>
        </div>

{% endblock %}